body {
    background: #eeeeee;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    margin: 0;
    padding: 2em 0;
}

main {
    background: #cde8f6;
    margin: auto;
    border-radius: 5px;
    padding: 2em 0;
    width: 90%;
}

section {
    margin: 0 auto;
    max-width: 900px;
}

.image {
    width: 50%;
  }

.description {
    width: 50%;
    padding: 1rem;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

.row {
    display: flex;
    border: 1px solid black;
    margin: 1em;
}

.row:nth-child(2n) {
    flex-direction: row-reverse;
}

user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

#gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (max-width: 500px) {
    .row {
        flex-direction: column;
      }
      .row:nth-child(2n) {
        flex-direction: column;
      }
      .image, .description {
        width: 100%;
      }
}